<!-- <p>emailsent works!</p> -->


<!-- <p>signup works!</p> -->
<!-- {{ doslaporuka }} -->

<div class="container-fluid">
    <!-- signin -->
    <div class="tcontent" id="customWindowContent1" style="overflow: hidden;">
      <div class="row">
        <div class="col-12 text-center">
          <div class="naslov">Siteknower</div>
          <br/> <br/>  <br/> <br/>

          <div class="tdiv1">Verify your email</div>
          <br>
           We've sent an amail to 
           <span class="glabel">{{eemail}}</span>
           <br>
           Click the link inside to get started.
           <br> <br> <br>
           
           <a class="tspan">Resend email</a>
        
  
        </div>
      </div>
    </div>
  
   
</div>
  
  

  
  