<p>signup works!</p>

<div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <div class="tdiv1">Create your account</div>
        <br>

        <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->

        <div class="temail">
          <input class="tinput" type="email" name="email"
          placeholder="Email address">
        </div>

        <div class="tpassword">
            <input class="tinput" type="password" name="email"
             placeholder="Password">
        </div>

         <!-- <br> <br> -->
         <div class="tcontinue">
            <button class="btn btn-outline-secondary mybtn">Continue</button>
         </div>

         <div class="talready">
           Already have an account?  &nbsp; <span class="tlogin"> Log in </span>
        </div>

         <div  class="torr" >
           <div class="mor"> OR</div>
           <div class="tcrta"></div>
        </div>

         <br><br>

         <button class="btn btn-outline-secondary mybtngoogle">
          <!-- <img class="tslika" src="assets/images/google.jpg"  width="21" height="21"  alt="Logo"> -->
          <img class="tslika" src="assets/images/google.jpg"  width="21" height="21"  alt="Logo">
          <img class="hover-tslika" src="assets/images/google2.jpg"  width="21" height="21"  alt="Logo">
          &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;Continue with Google
        </button>

        <br> <br>

        <button class="btn btn-outline-secondary mybtngoogle">
          <!-- <img class="tslika" src="assets/images/google.jpg"  width="21" height="21"  alt="Logo"> -->
          <img class="tslika" src="assets/images/microsoft2.jpg"  width="21" height="21"  alt="Logo">
          <img class="hover-tslika" src="assets/images/microsoft2.jpg"  width="21" height="21"  alt="Logo">
          &nbsp;&nbsp;&nbsp; &nbsp;  &nbsp;Continue with Microsoft Account
        </button>

        <br> <br><br> <br><br> <br>
         
        <div class="tdiv2">
          <span class="tspan">Terms of Use </span> &nbsp;&nbsp; |&nbsp;&nbsp; <span class="tspan">Privacy Policy </span> 
        </div>

        <br>

       


      </div>
    </div>
  </div>
